body {
  font-family: 'Playfair Display SC', serif;
  font-size: 25px;
  text-align: center;
}

#outputs {
  font-size: 35px;
}

p.Hover {
  border: 4px groove darkgreen;
 }

p{
height: 50px;

}
h1 {
  color: #000
  font-family: 'Vollkorn', serif;
  text-align: center;
}

input {
  background-color: #D3D3D3;

}

#calculator {
  background-color: #EEE8AA;
  border: 2px inset #000;
}

#cal::after {
  content: "";
  background: url("img/money.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#dollars{
background: url("img/dollar.jpg")
 background-size: contain;
background-repeat: no-repeat;
}

#quarters{
  background: url("img/quarters.jpg");
    background-size: contain;
  background-repeat: no-repeat;

}

#dimes{
  background: url("img/dime.jpg");
    background-size: contain;
  background-repeat: no-repeat;
}

#nickels{
  background: url("img/nickel.jpg");
    background-size: contain;
  background-repeat: no-repeat;
}

#pennies{
  background: url("img/pennnies.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
