body {
  font-family: 'Playfair Display SC', serif;
  font-size: 25px;
  text-align: center;
}

#outputs {
  font-size: 35px;
}

p.Hover {
  border: 4px groove darkgreen;
 }

h1 {
  color: #000
  font-family: 'Vollkorn', serif;
  text-align: center;
}

input {
  background-color: #D3D3D3;

}

#calculator {
  background-color: #EEE8AA;
  border: 2px inset #000;
}

#cal::after {
  content: "";
  background: url("img/money.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#quarters{
  background: url("quarters.jpg");
}

#dimes{
  background: url("dime.jpg");
}

#nickels{
  background: url("nickel.jpg");
}

#pennies{
  background: url("pennies.jpg");
}
